<!DOCTYPE html>
<html>
	<head>
		<script src="https://cdn.bootcss.com/vue/2.6.10/vue.js"></script>
		<script src="https://cdn.bootcss.com/vue-router/3.0.6/vue-router.js"></script>
		<meta charset="UTF-8">
		<title>keyup事件与watch事件</title>
	</head>
	<body>
		<!--<div id="app">
			<input type="text" v-model="first" @keyup="getfull"/>+
			<input type="text" v-model="last" @keyup="getfull"/>=
			<input type="text" v-model="full" />
		</div>
		<script>
		
		
			new Vue({
				el:'#app',
				data:{
					first:'',
					last:'',
					full:''
				},
			methods:{
				getfull(){
					this.full=this.first+'-'+this.last
				}
			}
			})
		</script>-->
		
		<div id="app">
			<input type="text" v-model="first"/>+
			<input type="text" v-model="last"/>=
			<input type="text" v-model="full" />
		</div>
		<script>
		
		
			new Vue({
				el:'#app',
				data:{
					first:'',
					last:'',
					
				},
			computed:{
				'full':function(){
					return this.first+'-'+this.last;
				}
			}
			})
		</script>
	</body>
</html>

